# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# игнорировать файлы с расширением .pyc,
# * - любое количество символов (ноль и больше),
*.pyc
# НО отслеживать файл main.pyc
Работа с локальным репозиторием с помощью консольного git 8
# несмотря на то, что мы игнорируем все .pyc файлы с помощью предыдущего правила
!main.pyc
# ? - ноль или один символ
# Исключить файлы text.txt, test.txt, tet.txt и т.д.
te?t.txt
# игнорировать только файл main.py находящийся в корневом каталоге
# не относится к файлам вида <папка>/main.py
/main.py
# игнорировать все файлы в каталоге .idea/
.idea/
# игнорировать файлы с расширением .txt, только в папке doc, но не в подпапках папки doc
doc/*.txt
# игнорировать все .txt файлы в каталоге doc/ и всех его подкаталогах
doc/**/*.txt

# End of https://www.toptal.com/developers/gitignore/api/windows
Проект по предобработке и анализу/анализ рынка игр.ipynb
